<section id="about us" class="about-us container-about-us container">
  <div class="flex-container">
    <div class="photo-section-aboutUs aboutUs_container">
      <picture class="image-wrapper">
        <!-- Мобильные: до 767px — по грудь -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/aboutUs_1x.png 1x,
            /img/about-us/aboutUs_2x.png 2x
          "
        />

        <!-- Планшеты: от 768px до 1439px — по пояс -->
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /img/about-us/aboutUs_tablet_1x.png 1x,
            /img/about-us/aboutUs_tablet_2x.png 2x
          "
        />

        <!-- Десктопы: от 1440px — полное изображение -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-us/about_us_pk_1x.png 1x,
            /img/about-us/about_us_pk_2x.png 2x
          "
        />

        <!-- Резерв для старых браузеров -->
        <img
          src="/img/about-us/aboutUs_1x.png"
          alt="about_us"
          class="photo-aboutUs"
        />
      </picture>

      <!--<img
        srcset="/img/about-us/aboutUs.png 1x, /img/about-us/aboutUs_2x.png 2x"
        src="/img/about-us/aboutUs.png"
        alt="About us"
        class="photo-aboutUs"
        width="280px"
        height="169px"
      />-->
    </div>

    <div class="aboutUs-list-text test-two">
      <a href="" class="aboutUs-svg-list">
        <svg href="" class="aboutUs-svg" width="64" height="64">
          <use href="./img/sprite.svg#icon-logo-short"></use>
        </svg>
      </a>

      <h3 class="aboutUs-artistsHub">About ArtistsHub</h3>
      <p class="aboutUs-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
