<section id="about" class="about-us container-about-us">
  <div class="flex-container container">
    <div class="photo-section-aboutUs aboutUs_container">
      <picture class="image-wrapper">
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/aboutUs_1x.png 1x,
            /img/about-us/aboutUs_2x.png 2x
          "
        />

        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /img/about-us/aboutUs_tablet_1x.png 1x,
            /img/about-us/aboutUs_tablet_2x.png 2x
          "
        />

        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-us/about-us_pk_1x.png 1x,
            /img/about-us/about_us_pk_2x.png 2x
          "
        />

        <img
          src="/img/about-us/aboutUs_1x.png"
          alt="about_us"
          class="photo-aboutUs"
        />
      </picture>
    </div>

    <div class="aboutUs-list-text test-two">
      <a href="" class="aboutUs-svg-list">
        <svg class="aboutUs-svg" width="64" height="64">
          <use href="./img/sprite.svg#icon-logo-short"></use>
        </svg>
      </a>

      <h3 class="aboutUs-artistsHub">About ArtistsHub</h3>
      <p class="aboutUs-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
