<section class="about-us container-about-us">
  <div class="flex-container">
    <div class="photo-section-aboutUs aboutUs_container">
      <img
        srcset="/img/about-us/aboutUs.png 1x, /img/about-us/aboutUs_2x.png 2x"
        src="/img/about-us/aboutUs.png"
        alt="About us"
        class="photo-aboutUs"
        width="280px"
        height="169px"
      />
    </div>

    <div class="aboutUs-list-text">
      <a href="" class="aboutUs-svg-list">
        <svg href="" class="aboutUs-svg" width="64" height="64">
          <use href="./img/sprite.svg#icon-logo-short"></use>
        </svg>
      </a>

      <h3 class="aboutUs-artistsHub">About ArtistsHub</h3>
      <p class="aboutUs-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
