<section class="container_feedback" id="reviews">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg class="icon">
          <use href="/img/sprite.svg#slider-arrow-1"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="icon">
          <use href="/img/sprite.svg#slider-arrow-2"></use>
        </svg>
      </div>
      <div class="swiper-scrollbar"></div>
      <button class="feedback-modal-btn" type="button" data-feedback-modal-open>
        <span>Leave feedback</span>
      </button>
    </div>
  </div>
  <div
    class="feedback-modal-notification is-hidden"
    role="alert"
    aria-live="polite"
  ></div>
</section>
