<header class="header section">
  <div class="container header-container">
    <a href="./index.html" class="logo-header svg">
      <svg class="icon-logo" width="119" height="51">
        <use href="img/sprite.svg#icon-full-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-li"><a class="nav-link" href="#artists">Artists</a></li>
        <li class="nav-li"><a class="nav-link" href="#about">About Us</a></li>
        <li class="nav-li"><a class="nav-link" href="#reviews">Reviews</a></li>
      </ul>
    </nav>

    <button type="button" class="header-burger svg" data-header-open>
      <svg class="burger-s" width="24" height="24">
        <use href="img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
