<!-- <div class="modal-overlay" data-header>
  <div class="mobile-menu">
    <a href="./index.html" class="logo-header svg">
      <svg class="icon-logo" width="119" height="51">
        <use href="img/sprite.svg#icon-full-logo"></use>
      </svg>
    </a>
    <button type="button" class="mobile-btn-close svg" data-header-close>
      <svg class="mobile-btn-svg" width="24" height="24">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-li">
        <a href="#artists">Artists</a>
      </li>
      <li class="mobile-li">
        <a href="#about">About Us</a>
      </li>
      <li class="mobile-li">
        <a href="#reviews">Reviews</a>
      </li>
    </ul>
  </div>
</div> -->
