body.modal-open {
  overflow: hidden; /* заборона скролу під час відкритої модалки */
}

.artist-list {
  margin-bottom: 20px;
}

.artist-card {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  width: 200px;
}

.modal {
  display: none; /* за замовчуванням модалка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.is-open {
  display: flex; /* показуємо модалку */
}

.modal-content {
  background: white;
  max-width: 700px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto; /* вертикальна прокрутка, якщо вміст більший за висоту */
  padding: 20px;
  border-radius: 8px;
  position: relative;
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.is-open .modal-content {
  transform: scale(1);
  opacity: 1;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: #f00;
  color: white;
  border: none;
  border-radius: 4px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  z-index: 1010;
  display: none; /* за замовчуванням прихований */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

.youtube-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}
