.container_feedback {
  padding-block: 64px !important;
  max-width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feedback-stars {
  color: #a47cf3;
  font-size: 20px;
}

.feedback_description {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;
  margin-block: 32px !important;
  margin: 0 auto;
}

.feedback_name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  .feedback_description {
    font-size: 26px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block !important;
  }
}
